.CategoryList {
    display: flex;
    flex-wrap: wrap;
}

.CategoryList > button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: 2px solid black;
    border-radius: 0.5rem;
    background-color: darkgray;
    color: black;
}