.CategoryList {
    display: flex;
    flex-wrap: wrap;
}

.CategoryList > button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: 2px solid black;
    border-radius: 0.5rem;
    background-color: #333;
    color: #eee;
}

button {
	box-shadow:inset 0px 1px 0px 0px #efdcfb;
	background:linear-gradient(to bottom, #dfbdfa 5%, #bc80ea 100%);
	background-color:#dfbdfa;
	border-radius:6px;
	border:1px solid #c584f3;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #9752cc;
    margin: 0.25rem
}

button:hover {
	background:linear-gradient(to bottom, #bc80ea 5%, #dfbdfa 100%);
	background-color:#bc80ea;
}

button:active {
	position:relative;
	top:1px;
}

button.selected {
    background-color: #eee;
    color: #333;
}